body {
	background-image:  linear-gradient(#3862a6, #507fcc);
	height: 100%;
	font-family: "Raleway";
}

h1 {
	color: white;
}

h2 {
	color: #c7d7f0;
}

.contact-info {
	color: #c7d7f0;
	font-size: 20px;
}

ul {
	display: flex;
	margin: 0;
	padding: 0;
}

li {
	font-size: 20px;
	color: white;
    list-style-type: none;
   	padding: 10px;
   	margin: 0;
}

a {
	color: white;
	text-decoration: none;
	padding: none;
	margin: none;
}

a:hover {
	color: white;
}

#logo {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 75px;
}

.card {
	background-color: #0c2957;
	color: #93a5c2;
}

#main-container {
	display: flex;
	flex-direction: column;
}

#header-container {	
	display: flex;
	padding:  20px;
	margin:  0 auto;
	text-align: center;
	flex-direction: column;
}

#body-container {
	display: inline-block;
	margin:  0 auto;

}

#nav-container {
	display: inline-block;
	margin:  0 auto;
	color: #c7d7f0;
}

#footer-container {
	padding-top: 20px;
	display: inline-block;
	margin:  0 auto;
}

.card {
	margin:  10px;
	padding: 10px;
	border-width: 3px;
	border-color: white;
}